.social_media {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .social_media {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .mode {
    display: none;
  }
  .lang {
    display: none;
  }
}
