.swiper {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .swiper {
    min-height: auto;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  cursor: pointer;
}
